.likes-page-container {
    display: flex;

    .likes-page-right {
        display: flex;
        z-index: 1;
        width: 100%;
        background: #ffffff !important;

        .likes-page-mid {
            width: 60%;
            border-right: 1px solid #e6e6e6;
            padding: 30px;
            padding-top: 0;
            height: 100vh;
            overflow-y: auto;
        }

        .trends {
            width: 40%;
            padding: 30px;
        }
    }
}