.signup-page-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .signup-page-header {
        position: absolute;
        top: 22px;
        left: 22px;

        .signup-page-logo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 3px;
        }
    }

    .signup-card {
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
        width: 450px;

        .signup-card-top {
            padding: 2rem 4rem;
            border-bottom: 1px solid #e5e7eb;

            .logo-img {
                text-align: center;

                img {
                    width: 40px;
                    height: auto;
                }
            }

            .signup-card-title {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                text-align: center;

                h4 {
                    font-size: 1.5rem;
                    margin: 0;
                    color: #1f2937;
                    padding: 8px 0;
                    padding-bottom: 2px;
                }
            }

            .signup-description {
                text-align: center;
                color: #6b7280;
                margin-top: 10px;
                font-size: 0.9rem;
                font-weight: 600;
            }
        }

        .signup-card-bottom {
            padding: 1rem 4rem;
            padding-bottom: 3rem;
            background: #f9fafb;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;

            form {
                margin-top: 20px;

                label {
                    display: block;
                    margin-bottom: 8px;
                    color: #6b7280;
                    font-weight: 600;
                }

                input {
                    width: 100%;
                    padding: 8px;
                    margin-bottom: 18px;
                    background-color: #fff;
                    border: 1.5px solid #ccc;
                    border-radius: 4px;
                    font-size: 1rem;
                    outline: none;
                    transition: all 0.4s ease;

                    &:focus {
                        color: #e85182;
                        border: 1.5px solid #e85182;
                    }
                }

                ::placeholder {
                    color: #9da4b0;
                }


                button {
                    width: 100%;
                    padding: 12px;
                    background-color: #1f2937;
                    color: #fff;
                    border: none;
                    border-radius: 8px;
                    cursor: pointer;
                    font-size: 1rem;
                    margin-top: 15px;
                    transition: all 0.3s ease;

                    &:hover {
                        background-color: #000;
                    }
                }
            }

            p {
                margin: 0;
                margin-top: 20px;
                text-align: center;
                color: #6b7280;

                a {
                    color: #1f2937;
                    text-decoration: none;
                    font-weight: 600;
                    cursor: pointer;
                    transition: all 1s ease;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .signup-page-container {

        .signup-card {
            width: 380px;

            .signup-card-top {
                padding: 2rem 2rem;
            }

            .signup-card-bottom {
                padding: 1rem 2rem;
                padding-bottom: 3rem;
            }
        }
    }
}