.posts-page-container {
    display: flex;

    .posts-page-right {
        display: flex;
        z-index: 1;
        width: 100%;
        background: #ffffff !important;

        .posts-page-mid {
            width: 60%;
            border-right: 1px solid #e6e6e6;
            padding: 20px 10px;
            padding-top: 0;
            height: 100vh;
            overflow-y: auto;

            h1 {
                font-size: 20px;
                font-weight: 600;
                color: #000;
                margin: 0;
                padding: 20px 5px;
            }
        }

        .trends {
            width: 40%;
            padding: 30px;
        }
    }
}

@media (max-width: 768px) {
    .posts-page-container {
        display: flex;
        flex-direction: column;

        .posts-page-right {
            display: flex;
            z-index: 1;

            .posts-page-mid {
                width: 100%;
            }

            .trends {
                width: 0%;
                display: none;
            }
        }
    }
}