.home-page-container {
    display: flex;

    .home-page-right {
        display: flex;
        z-index: 1;
        width: 100%;
        background: #ffffff !important;

        .homepage-mid {
            width: 60%;
            border-right: 1px solid #e6e6e6;
            padding: 30px;
            padding-top: 0;
            height: 100vh;
            overflow-y: auto;

            .posts-section-top {
                display: flex;
                align-items: center;
                height: 50px;
                border-bottom: 1px solid #e6e6e6;

                .posts-for-you {
                    width: 25%;
                    padding: 15px;
                    border-bottom: 3px solid #e85182;
                    font-weight: 600;
                    text-align: center;
                }
            }
        }


        .trends {
            width: 40%;
            padding: 30px;
        }
    }
}

@media (max-width: 768px) {
    .home-page-container {
        flex-direction: column;

        .home-page-right {
            display: flex;
            z-index: 1;
            width: 100%;
            background: #ffffff !important;

            .homepage-mid {
                width: 100%;
                padding: 3px 20px;
                padding-bottom: 20px;
            }

            .trends {
                width: 0;
                display: none;
            }
        }
    }
}